.date101MainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 23px;
  position: relative;
}

.date101Label {
  font-size: 16px;
  text-align: center;
  color: var(--gray700);
}

.date101SelectedLabel {
  margin-top: 25px;
  font-size: 19px;
  text-align: center;
  color: var(--gray900);
}

.date101Grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.date101Grid-item {
  border-radius: 5px;
  padding: 6px;
  font-size: 13px;
  text-align: center;
  margin: 10px;
}

.date101Grid-item.regular {
  pointer-events: auto;
  color: var(--gray900);
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.date101Grid-item.active {
  pointer-events: auto;
  background-color: var(--purple500);
  transform: scale(1.2);
  cursor: pointer;
}

.date101Grid-item.default-active {
  pointer-events: auto;
  background-color: var(--green500);
  transform: scale(1.2);
  cursor: pointer;
}

.date101Grid-item.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--gray500);
}

.date101Grid-item.previously-active {
  pointer-events: auto;
  color: var(--gray900);
  transform: scale(1.2);
  cursor: pointer;
}

.date101Grid-item.regular:hover {
  transform: scale(1.2);
  background: var(--gray50);
}


#userCart .dropdown__content {
  z-index: 1;
}

.date101TooltipMainDiv {
  border-radius: 5px;
  width: 350px;
  height: auto;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.date101CrossButton {
  position: absolute;
  opacity: 0.5;
  top: 10px;
  right: 10px;
  color: var(--gray900);
  cursor: pointer;
}

.date101CrossButton:hover {
  opacity: 0.3;
}
