.radioCo11Box {
 gap: 8px;
 width: fit-content;
 height: fit-content;
}

.radioCo11BoxReverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.radioCo11Input { 
  accent-color: var(--green500); 
  color: blueviolet;
} 