.backgroundPrimary {
  background-color: var(--white);
}
html[data-theme="dark"] .backgroundPrimary{
  background-color: var(--black);
}


.backgroundSecondary {
  background-color: var(--gray50);
}


.backgroundTertiary {
  background-color: var(--gray100);
}


.backgroundTransparent {
  background-color: var(--overlay00);
}


.backgroundSurfacePrimary {
  background-color: var(--white);
}
html[data-theme="dark"] .backgroundSurfacePrimary {
  background-color: var(--gray50);
}


.backgroundSurfaceSecondary {
  background-color: var(--gray50);
}
html[data-theme="dark"] .backgroundSurfaceSecondary {
  background-color: var(--gray100)
}


.backgroundInversePrimary {
  background-color: var(--gray900);
}
html[data-theme="dark"] .backgroundInversePrimary{
  background-color: var(--white);
}


.backgroundOverlayPrimary {
  background-color: var(--overlay70);
}


.backgroundOverlaySecondary {
  background-color: var(--overlay30);
}


/*-------------------------------------------*/
/*--------------Extended Tokens--------------*/
/*-------------------------------------------*/

.backgroundAccent {
  background-color: var(--green500);
}


.backgroundPositive {
  background-color: var(--green500);
}


.backgroundNegative {
  background-color: var(--red500);
}


.backgroundWarning {
  background-color: var(--yellow500);
}


.backgroundAccentSubtle {
  background-color: var(--green100);
}


.backgroundPositiveSubtle {
  background-color: var(--green100);
}


.backgroundNegativeSubtle {
  background-color: var(--red100);
}


.backgroundWarningSubtle {
  background-color: var(--yellow100);
}


.backgroundAccentSecondary {
  background-color: var(--purple500);
}


.backgroundAccentSecondarySubtle {
  background-color: var(--purple100);
}

.backgroundAlwaysDark {
  background-color: var(--black);
}

.backgroundAlwaysLight {
  background-color: var(--white);
}