.borderPrimary {
  border: 1px solid var(--gray150)
}

/*-------------------------------------------*/
/*--------------Extended Tokens--------------*/
/*-------------------------------------------*/

.borderDisabled {
  border: 1px solid var(--gray100)
}


.borderAccent {
  border: 1px solid var(--green500)
}


.borderPositive {
  border: 1px solid var(--green500)
}


.borderNegative {
  border: 1px solid var(--red500)
}


.borderNeutral {
  border: 1px solid var(--gray900)
}
html[data-theme="dark"] .borderNeutral {
  border: 1px solid var(--white);
}
