/*-------------------------------------------*/
/*----------Temp pod specific token----------*/
/*-----These set of tokens are temporary-----*/
/*-Limited pod's as specified in the naming.-*/
/*-------------------------------------------*/

.tempNbtBackgroundPink {
  background-color: var(--tempNbtPink);
}

.tempNbtBackgroundYellow {
  background-color: var(--tempNbtYellow);
}

.tempNbtBackgroundBlue {
  background-color: var(--tempNbtBlue);
}

.tempNbtBackgroundGray {
  background-color: var(--tempNbtGray);
}

.tempNbtBackgroundRed {
  background-color: var(--tempNbtRed);
}
