.btn51Btn {
  display: inline-block;
  font-weight: 500;
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.btn51ParentDimension {
  height: inherit;
  /* width: inherit; */
}

.btn51RipplePrimary {
  background-position: center;
  transition: background 0.8s;
}

.btn51RipplePrimary:hover {
  background: #26D7AB radial-gradient(circle, transparent 1%, #26D7AB 1%) center/15000%;
}

.btn51RipplePrimary:active {
  background-color: #B3F1E1;
  background-size: 100%;
  transition: background 0s;
}

.btn51RippleSecondary {
  background-position: center;
  transition: background 0.8s;
}

.btn51RippleSecondary:hover {
  background: var(--gray50) radial-gradient(circle, transparent 1%, var(--gray50) 1%) center/15000%;
}

.btn51RippleSecondary:active {
  background-color: var(--gray700);
  background-size: 100%;
  transition: background 0s;
}

.btn51RippleTertiary {
  background-position: center;
  transition: background 0.8s;
}

.btn51RippleTertiary:hover {
  background: rgba(0, 208, 156, 0.04);
  color: var(--green500);
}

.btn51RippleTertiary:active {
  background-color: var(--gray700);
  background-size: 100%;
  transition: background 0s;
}

.btn51Primary {
  background: var(--green500);
  color: var(--white);
}

.btn51Secondary {
  border: 1px solid var(--green500);
  color: var(--green500);
  background: var(--tempBg);
}

.btn51Tertiary {
  background: var(--green100);
  color: var(--green500);
}

.btn51Loading {
  opacity: 0.5;
  pointer-events: none;
}

.btn51DisabledPrimary {
  background-color: var(--gray500);
  pointer-events: none;
  color: var(--white);
}

.btn51DisabledSecondary {
  border-color: var(--gray500);
  color: var(--gray500);
  pointer-events: none;
}

.btn51DisabledTertiary {
  color: var(--gray500);
  background-color: var(--gray150);
  pointer-events: none;
}

.btn51BottomFixed {
  position: fixed;
  left: 0;
  border-top: 1px solid var(--gray150);
  background: var(--tempBg);
  padding: 12px;
  width: 100%;
  z-index: 1000;
  bottom: 0;
}

.btn51IconLeft {
  margin: 0 8px 0 -8px;
}

.btn51IconRight {
  margin-left: 8px;
}
