.headingXSmall {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: 1.25rem;
}

.headingSmall {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: 1.375rem;
}

.headingBase {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  line-height: 1.5625rem;
}

.headingLarge {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  line-height: 2rem;
}