.txtinput88label {
  font-size: 13px;
  letter-spacing: 0.25px;
  color: var(--gray700);
  text-align: left;
}

.txtinput88parent {
  display: flex;
  border-bottom: solid 1px var(--gray150);
  align-items: center;
  padding: 10px 0 5px 0;
  caret-color: var(--green500);
}

.removeunderline {
  border-bottom: none;
}

.txtinput88parent:focus-within {
  border-bottom: 2px solid var(--green500);
}

.removeunderline:focus-within {
  border-bottom: none;
}

.txtinput88input {
  border-bottom: none;
  border: none;
  font-size: 16px;
  flex-grow: 1;
  outline: 0;
  color: var(--gray900);
  background: var(--tempBg);

  /* -webkit-box-shadow: 0 0 0px 1000px white inset; */
}


.txtinput88input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gray700);
  opacity: 1;

  /* Firefox */
}

.txtinput88input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gray700);
}

.txtinput88input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gray700);
}

.txtinput88input:-webkit-autofill,
.txtinput88input:-webkit-autofill:hover,
.txtinput88input:-webkit-autofill:focus,
.txtinput88input:-webkit-autofill:active {
  /* box-shadow: 0 0 0 30px var(--tempBg) inset !important; msite change */
  -webkit-box-shadow: 0 0 0 30px var(--tempBg) inset !important;
  background-color: var(--tempBg) !important;
  -webkit-text-fill-color: var(--gray900);
}


.txtinput88input:focus {
  border-bottom: none;
  border: none;
  outline: 0;
}
.errorText {
  color: var(--red500);
  font-size: 14px;
  margin-top: 3px;
  text-align: left;
}

.pad0 {
  padding: 0;
}

.infoText {
  color: var(--yellow500);
  font-size: 14px;
  margin-top: 3px;
  text-align: left;
}

.removeParentDivUnderline {
  border-bottom: none !important;
}

.txt88Width {
  width: 100%;
}

.txt88InputMUI {
  border-bottom: 1px solid var(--gray700) !important;
}

.txt88MlabelError {
  color: var(--red500) !important;
}

.txt88Bar {
  position: relative;
  display: block;
  width: 100%;
}

.txt88Bar::before,
.txt88Bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--green500);
  transition: 0.2s ease all;
}

.txt88BarError::before,
.txt88BarError::after {
  background: var(--red500);
}

.txt88Bar::before {
  left: 50%;
}

.txt88Bar::after {
  right: 50%;
}

.txt88Mgroup {
  position: relative;
}

.txt88MErrorText {
  color: var(--red500);
  font-size: 14px;
  margin-top: 3px;
  text-align: left;
}

/* .txt88MNoErrorText {
  color: var(--gray700);
  font-size: 14px;
  margin-top: 3px;
} */

@media (max-width: 800px) {
  .txtinput88input {
    margin-top: 2px;
    padding: 1px;
  }
  .txtinput88input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--gray700);
    opacity: 0.2;
  }
  .txtinput88input::placeholder,
  .txtinput88input::-webkit-input-placeholder {
    opacity: 0.2;
    color: var(--gray700);
  }

  .errorText {
    font-size: 12px;
    padding: 5px 0;
    margin-top: 0;
  }

  .pad0 {
    padding: 5px 0;
  }

  .infoText {
    padding: 5px 0;
    margin-top: 0;
  }

  input {
    font-size: 18px;
    display: block;
    width: 100%;
    border: none;
    -webkit-text-fill-color: var(--gray900);
    border-bottom: 1px solid var(--gray700);
    background: var(--tempBg);
    color: var(--gray900);
  }

  input:focus {
    outline: none;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: var(--tempBg) !important;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--tempBg) inset;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 2px;
    top: 10px;
    transition: 0.2s ease all;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: var(--green500);
  }

  input:focus ~ .txt88Bar::before,
  input:focus ~ .txt88Bar::after {
    width: 50%;
  }
  input:-webkit-autofill ~ label {
    top: -15px;
    font-size: 14px;
    color: var(--green500);
  }

  input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
  }

  @keyframes inputHighlighter {
    from {
      background: var(--green500);
    }

    to {
      width: 100;
      background: transparent;
    }
  }
}
