.tabs8Tab {
  position: relative;
  border-width: 0 0 1px 0;

  overflow-x: auto;

  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

.tabs8Tab::-webkit-scrollbar {
  display: none;
}

.tabs8Parent {
  min-width: max-content;
}

.tabs8Line {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  background: var(--green500);
  will-change: left, width;
  transition: left 0.2s, width 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.tabs8TabItem {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  line-height: normal;
  padding: 14px 35px;
}

.tabs8TabItem::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.tabs8TabItem:hover {
  background-color: var(--gray50);
}

.tabs8TabItem:active {
  background-color: var(--gray100);
}

.tabs8TabItemFlex1 {
  flex: 1;
  flex-wrap: nowrap;
}
