.tabs8Container {
  position: relative;
  max-height: 55px;
}

.bottomBorderOnly {
  border-width: 0 0 1px 0 !important; 
}

.tabs8Text {
  line-height: 15px;
  padding-right: 45px;
  height: 30px;
  cursor: pointer;
  color: var(--gray900);
}

.tabs8TextActive {
  color: var(--green500);
}

.tabs8Line {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: var(--green500);
  will-change: left, width;
  transition: left 0.2s linear, width 0.2s linear;
}



@media (max-width: 1025px) {
  .tabs8Container {
    max-height: 25px;
    overflow-x: auto;

    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }

  .tabs8Container::-webkit-scrollbar {
    display: none;
  }

  .tabs8PageWidth20Mgn {
    width: calc(100vw - 40px);
    overflow-y: auto;
  }

  .tabs8Text {
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    padding-right: 24px;
    height: 25px;
    -webkit-font-smoothing: auto;
  }

  .tabs8TextActive {
    color: var(--green500);
  }

  .tabs8Line {
    will-change: left, width;
    transition: left 0.2s linear, width 0.2s linear;
  }

 .tabs8Parent {
    min-width: max-content;
  }
}
