.hide {
  display: none;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

.halign-wrapper {
  display: flex;
  justify-content: center;
}

.vspace-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.onMount-appear {
  opacity: 0.01;
}

.onMount-appear.onMount-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.web-align {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.circle {
  border-radius: 50%;
}

.fullWidth {
  width: 100%;
}

.page-padding {
  padding: 0 16px;
}


.cur-po {
  cursor: pointer;
}

.cur-no {
  cursor: not-allowed;
}

.flo-r {
  float: right;
}

.flo-l {
  float: left;
}

.width100 {
  width: 100%;
}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 var(--tempBoxShadow);
  border: 1px solid var(--gray150);
}

.clickable-text {
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 0.23px;
  color: var(--green500);
  margin-left: 5px;
  cursor: pointer;
}

.dashed-hr-border {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  border-style: dashed;
  border-width: 1px;
  opacity: 0.2;
  color: var(--gray700);
  width: 100%;
}

.blurEffect1 {
  filter: blur(3px);
}

/* clearfix when parent contains float childrens */

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.componentsMainHeading {
  font-weight: 500;
  color: var(--gray900);
  margin: 0;
}