html {
  /* Font sizes */
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-44: 2.75rem;
  --font-size-56: 3.5rem;

  /* Font weights */
  --font-weight-regular: 435;
  --font-weight-medium: 535;
  --font-weight-bold: 660;
}