.c11Default {
 width: fit-content;
 height: fit-content;
 gap: 8px;
}

.c11checkOnRight {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100% !important;
  justify-content: space-between;
}
