.sw348reactSwitchDivision {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--zindex900);
  margin: 0 auto;
}

.sw348reactSwitchCheckbox {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.sw348reactSwitchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;           
  width: 2.5rem;
  position: relative;
  transition: background-color 0.3s;
}

.sw348reactSwitchButton{
  height: 1.25rem;
  width: 1.25rem;
  filter: 'drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))';
}
.sw348reactSwitchLabel .sw348reactSwitchButton {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  /*same as width, height*/
  transition: all 0.3s;
}


/* 'backgroundTertiary sw348reactSwitchLabel' */