.pill12Pill {
  width: fit-content;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 99px;
}

.pill12Outlined {
  border: 1px solid var(--gray150);
}

.pill12SelectedAccentPill {
 background-color: var(--green100);
 border: 1px solid var(--green500);
 color: var(--green500);
}

.pill12SelectedAccentPill:hover {
  opacity: 0.9;
}

.pill12SelectedPill {
  border: 1px solid var(--gray900);
}

.pill12PillHover:hover {
  background-color: var(--gray50);
}

.pill12SizeXSmall {
 padding: 12px 8px;
}

.pill12SizeSmall {
 padding: 12px;
}

.pill12SizeBase {
 padding: 12px 16px;
}

.pill12SizeLarge {
 padding: 12px 20px;
}

.pill12SizeXLarge {
 padding: 12px 24px;
}