html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *::before,
html.color-theme-in-transition *::after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}

html {
  /* global colors */
  --black: #121212;
  --white: #ffffff;
  --gray900: #44475b;
  --gray800: #696c7c;
  --gray700: #7c7e8c;
  --gray600: #8f919d;
  --gray500: #a1a3ad;
  --gray400: #b0b2ba;
  --gray300: #c7c8ce;
  --gray200: #ddeee1;
  --gray150: #e9e9eb;
  --gray100: #f0f0f2;
  --gray50: #f8f8f8;
  --green500: #00B386;
  --green300: #66e3c4;
  --green100: #EBF9F5;
  --purple500: #5367ff;
  --purple300: #84a4ff;
  --purple100: #eef0ff;
  --yellow500: #ffb61b;
  --yellow100: #fff5e0;
  --red500: #eb5b3c;
  --red100: #fae9e5;
}

html[data-theme="dark"] {
  /* global colors */
  --black: #121212;
  --white: #ffffff;
  --gray900: #f8f8f8;
  --gray800: #d1d1d1;
  --gray700: #b8b8b8;
  --gray600: #a0a0a0;
  --gray500: #888888;
  --gray400: #717171;
  --gray300: #595959;
  --gray200: #414141;
  --gray150: #2e2e2e;
  --gray100: #252525;
  --gray50: #1b1b1b;
  --green500: #0abb92;
  --green300: #0b5e49;
  --green100: #10362d;
  --purple500: #98a4ff;
  --purple300: #323c89;
  --purple100: #181a2a;
  --yellow500: #e7a61a;
  --yellow100: #46391d;
  --red500: #d55438;
  --red100: #411d16;
}
