.mn12Box {
  padding: 14px;
  width: 220px;
}

.mn12Month {
  text-align: center;
  min-width: 33%;
}

.mn12MonthText {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  margin: 3px auto;
}

/* NOTE: Here below order matters as active, hover state color override */
.mn12MonthBack:hover {
  background-color: var(--overlay30);
}

.mn12MonthCurrent {
  background-color: var(--green300);
}

.mn12MonthBox {
  flex-wrap: wrap;
  margin-top: 12px;
}

.mn12YearIcon {
  font-size: 22px !important;
}

.cc12DisableDate {
  opacity: 0.2;
  cursor: default;
}