.mn12Box {
  padding: 14px;
  width: 220px;
}

.mn12YearRow {
  justify-content: space-between;
}

.mn12Month {
  text-align: center;
  min-width: 33%;
}

.mn12MonthText {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  margin: 3px auto;
}

.mn12MonthBack:hover {
  background-color: var(--tempBoxShadow);
}

.mn12MonthTextSelected {
  background-color: var(--green500);
}

.mn12MonthBox {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
}

.mn12YearIcon {
  font-size: 22px !important;
}
