.txta37Label {
  color: var(--gray500);
  margin-bottom: 16px;
}

.txta37Area {
  resize: none;
  border-radius: 8px;
  caret-color: var(--priamryClr);
  padding: 16px;
  color: var(--gray900);
  font-size: 16px;
}

.txta37Area:focus {
  outline: none;
}

.txta37Area::placeholder {
  color: var(--gray500);
}

.txta37Normal {
  border: 2px solid var(--gray150);
}

.txta37Error {
  border: 2px solid var(--red500);
}

.txta37ErrorMessage {
  color: var(--red500);
  margin-top: 16px;
}
