.np15Icon {
  border-radius: 3px;
  max-width: 100%;
  position: relative;
  background-color: var(--green100) !important;
  color: var(--green500);
  padding: 4px;
  text-align: center;
}

.np15Icon:active {
  background-color: var(--gray100) !important;
}

.np15Root {
  border-radius: 3px;
  display: inline-flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--green100) !important;
  color: var(--green500);
  white-space: nowrap;
}

.np15Input:focus {
  outline: none;
}

.np15Input {
  background-color: var(--green100) !important;
  width: 60px;
  height: 32px;
  color: var(--green500) !important;
  font-size: 20px !important;
  font-weight: 500;
  letter-spacing: 0.33px;
  text-align: center;
}

.np15InputErr {
  color: var(--red500) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--red100) inset;
}

.np15InputWarning {
  color: var(--yellow500) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--yellow100) inset;
}

#numPicker #txtinput88 {
  width: 72px;
}

.np15InputDiv {
  display: flex;
  align-items: center;
  caret-color: var(--green500);
}

.addPaddingTop7 {
  padding-top: 7px;
}

