.chip12Chip {
  height: 32px;
  width: fit-content;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 99px;
}

.chip12Outlined {
  border: 1px solid var(--gray150);
}

.chip12SelectedAccentChip {
 background-color: var(--green100);
 border: 1px solid var(--green500);
 color: var(--green500);
}

.chip12SelectedAccentChip:hover {
  opacity: 0.9;
}

.chip12SelectedChip {
  border: 1px solid var(--gray900);
}

.chip12ChipHover:hover {
  background-color: var(--gray50);
}
