.chip12Chip {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid var(--gray150);
  font-size: 12px;
  width: fit-content;
  width: -moz-fit-content;
  min-width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--gray700);
}

.chip12Tag {
  color: var(--gray700);
  border: 1px solid var(--gray150);
  opacity: 0.8;
}

.chip12Icon {
  margin-left: 4px;
}

.chip12IconLeft {
  flex-direction: row-reverse;
}

.chip12Tag:hover {
  color: var(--gray900);
  opacity: 1;
}

.chip12Chip:hover .chip12Icon {
  opacity: 1;
}
